<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cost</key>
		<real>21</real>
		<key>cuisine</key>
		<string>International</string>
		<key>description</key>
		<string>Yams that have been crushed or stirred to a creamy, dough - like consistency.Pounded yams are considered a fufu(a kind of starchy side dish) usually served with a stew or efo.</string>
		<key>discountable</key>
		<false/>
		<key>id</key>
		<string>301E962F-E0D6-4DA5-957E-FD69C65AA4B0</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>ingredient</key>
				<string>Fusilli</string>
				<key>portion</key>
				<real>2</real>
			</dict>
			<dict>
				<key>ingredient</key>
				<string>Chillies</string>
				<key>portion</key>
				<real>1</real>
			</dict>
			<dict>
				<key>ingredient</key>
				<string>Rice</string>
				<key>portion</key>
				<real>1</real>
			</dict>
		</array>
		<key>mealCategory</key>
		<string>Main</string>
		<key>name</key>
		<string>Pounded Yamm</string>
		<key>special</key>
		<false/>
	</dict>
	<dict>
		<key>cost</key>
		<real>20</real>
		<key>cuisine</key>
		<string>International</string>
		<key>description</key>
		<string>a soup prepared using cream, light cream, half and half or milk as a key ingredient. Sometimes the dairy product is added at the end of the cooking process, such as after a cream soup has been puréed.</string>
		<key>discountable</key>
		<false/>
		<key>id</key>
		<string>7CECAE73-2177-4508-B97B-0CAF912302A8</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>ingredient</key>
				<string>Lettuce</string>
				<key>portion</key>
				<real>2</real>
			</dict>
			<dict>
				<key>ingredient</key>
				<string>Onion</string>
				<key>portion</key>
				<real>1</real>
			</dict>
			<dict>
				<key>ingredient</key>
				<string>Chilli Sauce</string>
				<key>portion</key>
				<real>1</real>
			</dict>
		</array>
		<key>mealCategory</key>
		<string>Dessert</string>
		<key>name</key>
		<string>Soup cream</string>
		<key>special</key>
		<true/>
	</dict>
</array>
</plist>
